table {
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    font-family: sans-serif
}

td, th {
    border: none;
    padding: 2px 15px;
    text-align: center
}

th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: 700
}

.public-key {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    word-break: break-all;
    transition: background-color .2s;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 10px
}

.public-key:hover {
    background-color: #e9ecef;
    color: #0056b3
}