@media (min-width: 480px) {

    body::-webkit-scrollbar {
        display: block;
        width: 10px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #aaaaaa;
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 10px;
    }

    .navbar {
        height: 45px;
        padding: 0 20px;
        margin: 10px 0;
    }

    .navbar a {
        float: left;
        padding: 0 8px;
        font-size: 18px;
        line-height: 45px;
    }

    .navbar a.main-title:hover {
        text-shadow: 0 0 16px black;
    }

    .navbar a.next {
        display: block;
        text-shadow: none;
    }
    
    .navbar a.year {
        display: block;
        text-shadow: none;
    }

    .navbar a.sub-menu {
        display: block;
    }

    .navbar a.sub-title {
        display: block;
        text-shadow: none;
    }

    .navbar a.sub-menu:hover {
        display: block;
        text-shadow: 0 0 16px black;
    }

    .video-page {
        grid-template-columns: calc(100vw - 30px);
        grid-template-rows: calc((100vw - 30px) * 0.75) 27px 27px auto;
        gap: 8px;
        padding: 0 0 10px 0;
    }

    .main-video {
        width: calc(100vw - 30px);
        height: calc((100vw - 30px) * 0.75) ;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .video-main iframe {
        width: calc(100vw - 30px);
        height: calc((100vw - 30px) * 0.75);
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #main-video-title {
        font-size: 20px;
        padding: 0 0 0 10px;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 20px;
        padding: 0 0 0 10px;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: calc(100vw - 30px);
        height: auto;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .main-playlist::-webkit-scrollbar {
        width: 0px;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        border-radius: 0px;
    }

    .playlist-img {
        width: 24vw;
        height: 13.5vw;
        min-width: 160px;
        min-height: 90px;
        padding: 2px 4px;
    }

    .playlist-title {
        width: min(calc(100vw - 206px), calc(76vw - 46px));
        font-size: 18px;
        padding: 0 0 0 8px;
    }

    #gttopbtn {
        padding: 15px 30px;
        bottom: 30px;
        right: 30px;
        font-size: 18px;
    }

}

@media (min-width: 670px) {

    .playlist-title {
        font-size: 20px;
    }

}